<%- include('../includes/head.ejs') %>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top" class="bodyproject">
<!-- Navigation-->
<%- include('../includes/navigation.ejs') %>

<br><br><br><br>

        <section class="container">            
                    <div class="row">
                        <div class="col-9 col-lg-3">
                          <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action" href="/detail-user" >Thông tin cá nhân</a>
                            <a class="list-group-item list-group-item-action active" href="/detail-user/new-password" >Thay đổi mật khẩu</a>
                            <a class="list-group-item list-group-item-action" href="/detail-user/donate" >Lịch sử quyên góp</a>
                          </div>
                        </div>
                        <div class="col-12  card shadow mb-4 col-lg-5">
                         
                            <div class="card-body">
                              <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" >
                                  <h4 class="mb-3 mt-3">Thay đổi mật khẩu</h4>
                                  <% if (notify) { %>   
                                      <div class="alert alert-success alert-dismissible fade show " role="alert" >
                                          <%= notify %>
                                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                       </div>
                                  <% } %> 
  
                                  <% if (errorMessage) { %>           
                                      <div class="alert alert-danger alert-dismissible fade show " role="alert" >
                                          <%= errorMessage %> 
                                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                       </div>
                                  <% } %>   
  
                                  <% if(typeof errorMessageEV != 'undefined') { %>
                                      <% errorMessageEV.forEach(function(error) { %>
                                        <div class="alert alert-danger alert-dismissible fade show " role="alert" >
                                          <%= error.msg %>
                                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                       </div>
                                      <% }) %>
                                    <% } %>
                                  <form class="needs-validation" novalidate action="/detail-user/new-password" method="POST">
                                    <div class="row">
                                      <div class="col-12 mb-1">
                                        <label for="password" class="form-label">Mật khẩu hiện tại</label>
                                        <input type="password" class="form-control" id="password" name="password" value="<%= oldInput.password %>">
                                      </div>
                          
                                      <div class="col-12 mb-1">
                                        <label for="newPassword" class="form-label">Mật khẩu mới</label>
                                        <input type="password" class="form-control" id="newPassword" name="newPassword" value="<%= oldInput.newPassword %>">
                                      </div>
  
                                      <div class="col-12 mb-3">
                                          <label for="confirmPassword" class="form-label">Nhập lại mật khẩu mới</label>
                                          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="<%= oldInput.confirmPassword %>">
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    
                                      <a type="button" class="btn btn-secondary" href="/detail-user">Quay lại</a>
                                      <button type="submit" class="btn btn-primary">Xác nhận</button>
                                    
                                  </form>
                                </div>
                                
                              </div>
                            </div>
                        </div>
                    </div>                          
        </section>
        <br><br><br><br>
          <!-- Footer-->
      <footer class="footer text-faded text-center py-4">
        <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2022</p></div>
    </footer>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<%- include('../includes/end.ejs') %>
