<%- include('../includes/head.ejs') %>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>  
    <header class="masthead">
          <!-- Page Wrapper -->
    <div id="wrapper">

 <%- include('../includes/navigation-admin.ejs') %>
  
    <!-- End of Page Wrapper -->
       
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br><br>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Quản lý dự án</h1>
        <br>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><% if (editing) { %>Cập nhật dự án<% } else { %>Thêm dự án<% } %></h6>
            </div>
            <div class="card-body">
            <!--Error Alert -->  
              <% if(typeof errorMessageEV != 'undefined') { %>
                <% errorMessageEV.forEach(function(error) { %>
                  <div class="alert alert-danger alert-dismissible fade show " role="alert" >
                    <%= error.msg %>
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>
                <% }) %>
              <% } %>

              <% if (errorMessage) { %>           
                <div class="alert alert-danger alert-dismissible fade show " role="alert" >
                   <%= errorMessage %> 
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>

                <div class="col-md-7 col-lg-12">
                    <form class="needs-validation" id="formAdd"action="/admin/<% if (editing) { %>edit-project<% } else { %>add-project<% } %>" method="POST" enctype="multipart/form-data" >
                      <div class="row g-3">

                        <div class="col-12">
                            <label for="title" class="form-label">Tên dự án</label>
                            <input type="text" class="form-control clear <%= errorMessageEV.find(e => e.param === 'title') ? 'is-invalid' : '' %>" id="title" name="title" value="<% if (editing) { %><%= project.title %><% } %>"  required autofocus>   
                        </div>
                        
                        <div class="col-md-6 col-12">
                          <label for="startTime" class="form-label">Ngày bắt đầu</label>
                          <input type="text" class="form-control clear " id="startTime" name="startTime" value="<% if (editing) { %><%= project.startTime %><% } %>" <% if (editing) { %> disabled <% } %> required>                
                        </div>
            
                        <div class="col-md-6 col-12">
                          <label for="lastName" class="form-label">Ngày kết thúc</label>
                          <input type="text" class="form-control clear" id="endTime" name="endTime" value="<% if (editing) { %><%= project.endTime %><% } %>"  required>
                        </div>
            
            
                        <div class="col-md-6 col-12">
                          <label for="money" class="form-label">Số tiền quyên góp </label>
                          <input type="text" class="form-control clear <%= errorMessageEV.find(e => e.param === 'maxMoney') ? 'is-invalid' : '' %>" id="maxMoney" name="maxMoney" value="<% if (editing) { %><%= project.maxMoney %><% } %>">
                        </div>
            
                        <div class="col-md-6 col-12">
                          <label for="image" class="form-label">Ảnh dự án</label>
                          <input type="file" class="form-control clear" id="image" name="image" >
                        </div>

                        <div class="col-md-4 col-12">
                          <label for="numberBank" class="form-label">Số tài khoản quyên góp</label>
                          <input type="text" class="form-control clear" id="numberBank" name="numberBank" value="<% if (editing) { %><%= project.numberBank %><% } %>" <% if (editing) { %> disabled <% } %> >
                        </div>

                        <div class="col-md-4 col-12">
                          <label for="nameBank" class="form-label">Ngân hàng</label>
                          <select class="form-select form-select-md mb-2" name="nameBank" value="<% if (editing) { %><%= project.nameBank %><% } %>" required <% if (editing) { %> disabled <% } %>>
                            <option selected disabled> <% if (editing) { %><%= project.nameBank %> <% } else { %> Chọn ngân hàng <% } %></option>
                            <option value="Techcombank" > Techcombank</option>
                            <option value="Vietcombank">Vietcombank</option>
                            <option value="VPBank  ">VPbank </option>
                          </select> 
                        </div>

                        <div class="col-md-4 col-12">
                          <label for="userBank" class="form-label">Chủ tài khoản</label>
                          <input type="text" class="form-control clear" id="userBank" name="userBank" value="<% if (editing) { %><%= project.userBank %><% } %>" <% if (editing) { %> disabled <% } %>>
                        </div>

                        <div class="col-12">
                          <label for="description" class="form-label">Mô tả</label>
                          <input id="description" name="description" class="form-control clear <%= errorMessageEV.find(e => e.param === 'description') ? 'is-invalid' : '' %>" value="<% if (editing) { %><%= project.description %><% } %>">
                        </div>

                        <div class="col-12">
                            <label for="content" class="form-label">Nội dung</label>
                            <textarea id="content" name="content" class="form-control clear <%= errorMessageEV.find(e => e.param === 'content') ? 'is-invalid' : '' %>" style="height: 300px;"><% if (editing) { %><%- project.content %><% } %></textarea>
                        </div>
              
                          <div class="text-center">
                            <a type="button" class="small" id="btnrs" onclick ="$('.clear').val('')">Xóa tất cà trường</a>
                        </div>
                        <% if (editing) { %>
                          <input type="hidden" value="<%= project._id %>" name="projectId">
                      <% } %>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <button class="w-100 btn btn-primary btn-lg" type="submit"><% if (editing) { %>Cập nhật dự án<% } else { %>Tạo dự án mới<% } %></button>
                    </form>
                </div>
            </div>
        </div>

        
    </div>
    <!-- /.container-fluid -->

    </div>
<!-- End of Main Content -->

    </header>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>   
    <script>
     new FroalaEditor('textarea');

     new FroalaEditor ( '.selector' , { 
      imageUploadParams: { 
       id: 'content' 
        } 
      });
    </script>
<%- include('../includes/javascript.ejs') %>
<%- include('../includes/end.ejs') %>

