<%- include('../includes/head.ejs') %>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/admin.css" rel="stylesheet">
</head>

<body>  
    <header class="masthead">
          <!-- Page Wrapper -->
    <div id="wrapper">

 <%- include('../includes/navigation-admin.ejs') %>
  
    <!-- End of Page Wrapper -->
       
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br><br>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Quản lý người dùng</h1>
        <br>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin người dùng</h6>
            </div>

  <%- include('../includes/navigation-tab.ejs') %>         
    
            <div class="card-body">
              <% if(typeof errorMessageEV != 'undefined') { %>
                <% errorMessageEV.forEach(function(error) { %>
                  <div class="alert alert-danger alert-dismissible fade show " role="alert" >
                    <%= error.msg %>
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>
                <% }) %>
              <% } %>
                <div class="container">
                    <main>
                      
                      <div class="row g-5">
                        <div class="col-md-7 col-lg-5">
                          <h4 class="mb-4">Thông tin tài khoản</h4>
                          
                          <div class="row g-3">

                              <div class="form-check form-switch col-12 row">
                                <label class="form-check-label col-9" for="flexSwitchCheckDefault">Phân quyền <strong class="<%= user.decentralization === 'ADMIN' ? 'adminColor' : '' %>"><%= user.decentralization %></strong></label>
                                <% if (user.decentralization === "USER") { %>
                                <input class="form-check-input col-3" type="checkbox" id="flexSwitchCheckDefault" data-bs-toggle="modal" data-bs-target="#decentralizationModal">
                                <% } %>
                              </div>
                              <form class="needs-validation" novalidate action="/admin/detail-user/<%= user._id %>" method="POST">
                                <div class="col-12">
                                  <label for="username" class="form-label">Tên người dùng </label>
                                  <input type="text" class="form-control" id="userName" name="userName" value="<%= user.userName %>">
                                </div>
  
                                <div class="col-12">
                                  <label for="email" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>">
                                </div>
                                <input type="hidden" class="form-control" id="password" name="password" value="<%= user.password %>">
  
                                <div class="mb-1">
                                  <a type="button" class="small" href="/admin/detail-user/<%= user._id %>/reset">Thay đổi mật khẩu</a>
                                </div>
  
                                <div class="col-12">
                                  <label for="numberphone" class="form-label">Số điện thoại</label>
                                  <input type="text" class="form-control" id="numberPhone" name="numberPhone" value="<%= user.numberPhone %>" required>                            
                                </div>
                    
                                <div class="col-12">
                                  <label for="address" class="form-label">Địa chỉ</label>
                                  <input type="text" class="form-control" id="address" name="address" value="<%= user.address %>">
                                </div>
         
                              <hr class="my-4">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                              <button class="w-100 btn btn-primary btn-lg" type="submit">Lưu thay đổi</button>
                            </form>  
                          </div>
                        </div>
                      </div>
                    </main>
                
                  </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
<!-- End of Main Content -->

               <!-- Decentralization Modal -->
               <div class="modal fade" id="decentralizationModal" tabindex="-1" aria-labelledby="decentralizationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="decentralizationModalLabel">Cấp quyền quản trị</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/admin/detail-user/<%= user._id %>" method="POST">
                      <div class="modal-body">
                        <div class="col-12 mb-1">
                          Bạn có chắc muốn cấp quyền cho <%= user.userName %> làm Admin
                          <input type="hidden" name="decentralization" value="ADMIN">
                          <input type="hidden" class="form-control"  name="userName" value="<%= user.userName %>">
                          <input type="hidden" class="form-control"  name="numberPhone" value="<%= user.numberPhone %>">
                          <input type="hidden" class="form-control"  name="email" value="<%= user.email %>">     
                        </div>
            
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="btnCanelAdmin" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" id="btnOkAdmin" class="btn btn-primary">Xác nhận</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
    </header>


<%- include('../includes/javascript.ejs') %>
<%- include('../includes/end.ejs') %>

