<%- include('../includes/head.ejs') %>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/admin.css" rel="stylesheet">
</head>

<body>  
    <header class="masthead">
          <!-- Page Wrapper -->
    <div id="wrapper">

 <%- include('../includes/navigation-admin.ejs') %>
  
    <!-- End of Page Wrapper -->
       
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br><br>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Quản lý người dùng</h1>
        <br>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin người dùng</h6>
            </div>

  <%- include('../includes/navigation-tab.ejs') %>         
    
            <div class="card-body">
                <div class="container">
                    <main>
                      
                      <div class="row g-5">
                        <div class="col-md-8">
                          <h4 class="mb-4">Thay đổi mật khẩu</h4>
                          
                          <div class="row g-3">
                              <form class="needs-validation" novalidate action="/admin/detail-user/<%= user._id %>/reset" method="POST">
                                <div class="col-12 mb-3">
                                  Mật khẩu mới của người dùng <strong class="<%= user.decentralization === 'ADMIN' ? 'adminColor' : '' %>"><%= user.userName %></strong> sẽ đc chuyển vào hộp thư  <strong><%= user.email %></strong>
                                </div>
  
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                              <input type="hidden" name="email" value="<%= user.email %>">
                              <button class=" btn btn-primary" type="submit">Xác nhận</button>
                            </form>  
                          </div>
                        </div>
                      </div>
                    </main>
                
                  </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
<!-- End of Main Content -->
            
    </header>


<%- include('../includes/javascript.ejs') %>
<%- include('../includes/end.ejs') %>

