<%- include('../includes/head.ejs') %>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top" class="bodyproject">
<%- include('../includes/navigation.ejs') %>
<br> <br> <br>
<section class="projects-section bg-light" style="padding-bottom: 0;">
  <section class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
          <div class="= col-lg-7">
              <div class="featured-text  text-lg-left">
                  <h4><%= project.title %></h4>
                  <p class="text-black-50 mb-0"><%= project.description %></p>
              </div>
          </div>
          <div class=" col-lg-5 imageproject"><div style="margin-left: 7px; " ><img class="img-fluid mb-3 mb-lg-0" src="/<%= project.image %>" alt="..." /></div></div>
      </div>
</section>
        <section class="bg-light container" >
         
              
                <div class="row g-5">
                  <div class="col-md-7">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Câu chuyện</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Nhà hảo tâm</button>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> 
                        <br>
                        <p class="blog-post-meta"><%= project.startTime %> </p>
                
                        <p><%= project.content %></p>
                       
                        <pre><code>Example code block</code></pre></div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <br>
                        <h3>Nhà hảo tâm</h3>
                        <p>Danh sách các nhà hảo tâm quyên góp cho dự án</p>
                        <div class="table-responsive">
                          <table class="table">
                              <tbody>
                                <% if (users.length > 0) { %>
                                  <% for (let user of users) { %>                
                                    <tr>
                                      <td><h6><%= user.userName %></h6> <small><%= user.numberPhone %></small></td> 
                                      <td class="align-middle" style="text-align: right"><%= user.money %> VND</td>
                                    </tr>
                                  <% } %>  
                                <% } %>  
                              </tbody> 
                              
                            </table>
                        </div></div>
                    </div>
            
                  </div>
              
                  <div class="col-md-5">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="card card-body shadow mb-4">
                            <div class="p-4 mb-3 bg-light rounded">
                                <h4 class="fst-italic my-4">Thông tin quyên góp</h4>
                
                                <h6 class="my-2">100.000.000 VND / <%= project.maxMoney %> VND</h6>
                                <small class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </small>   
                                <div class="d-flex justify-content-between">
                                    <small class="my-2">Lượt quyên góp: 300</small>   <small class="my-2">Còn <%= Math.ceil((project.endTime - new Date()) / (1000 * 60 * 60 * 24)) %> ngày</small> 
                                </div> 
                                
                              </div>
                        </div>

                        <div class="card card-body shadow mb-4">
                            <div class="p-4 mb-3 bg-light rounded">
                                <h4 class="fst-italic my-4">Hình thức quyên góp</h4>
                                
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                          <img src="../img/momo.png" alt="momo" style="height: 19px">&nbsp;  MoMo
                                        </button>
                                      </h2>
                                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body"><img src="../img/momoQR.png" alt="" style="height: 330px;"></div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                            <i class="fa-solid fa-building-columns"></i>&nbsp; ATM
                                        </button>
                                      </h2>
                                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                          <form class="needs-validation" action="/detail-project" method="POST">
                                            <div class="row g-3">
                      
                      
                                              <div class="col-12">
                                                <label for="money" class="form-label">Số tiền quyên góp </label>
                                                <input type="text" class="form-control clear" id="money" name="money" placeholder="">
                                                <div class="invalid-feedback">
                                                  Please enter a valid email address for shipping updates.
                                                </div>
                                              </div>
                                              <input type="hidden"  value="<%= project._id %>" name="projId" placeholder="">            
                                            <button class="w-100 btn btn-primary btn-lg" type="submit">Quyên góp</button>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                            <i class="fa-brands fa-cc-paypal"></i> &nbsp; Paypal
                                        </button>
                                      </h2>
                                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
              <br>
        </section>
        <!-- Footer-->
      <br>
      <footer class="footer text-faded text-center py-4">
        <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2022</p></div>
    </footer>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<%- include('../includes/end.ejs') %>
