<%- include('../includes/head.ejs') %>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top" class="bodyproject">
<!-- Navigation-->
<%- include('../includes/navigation.ejs') %>

<br><br><br><br>

        <section class="container" >
          <form class="needs-validation" novalidate action="/detail-user" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-12 col-lg-3 mb-2">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" >Thông tin cá nhân</a>
                  <a class="list-group-item list-group-item-action" href="/detail-user/new-password" >Thay đổi mật khẩu</a>
                  <a class="list-group-item list-group-item-action" href="/detail-user/donate" >Lịch sử quyên góp</a>
                </div>
              </div>
          
              <div class="col-12 col-lg-6">
                <div class="card mb-3">
                  <div class="card-header">Thông tin tài khoản</div>
                <div class=" card-body " style="padding: 30px">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" >
                      <% if (notify) { %>   
                        <div class="alert alert-success alert-dismissible fade show " role="alert" >
                            <%= notify %>
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>
                    <% } %> 

                    <% if(typeof errorMessageEV != 'undefined') { %>
                        <% errorMessageEV.forEach(function(error) { %>
                          <div class="alert alert-danger alert-dismissible fade show " role="alert" >
                            <%= error.msg %>
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>
                        <% }) %>
                      <% } %>
                      
                          <div class=" mb-1">
                            <label for="username" class="form-label">Tên người dùng </label>
                            <input type="text" class="form-control" id="userName" name="userName" value="<%= user.userName %>" disabled>
                          </div>
              
                          <div class=" mb-1">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" disabled>
                          </div>
                        
                        <div class=" mb-1">
                          <label for="numberPhone" class="form-label">Số điện thoại</label>
                          <input type="text" class="form-control" id="numberPhone" name="numberPhone" value="<%= user.numberPhone %>" >
                        </div>
            
                        <div class=" mb-3">
                          <label for="address" class="form-label">Địa chỉ</label>
                          <input type="text" class="form-control" id="address" name="address" value="<%= user.address %>" >
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                       
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                       
                    </div> 
                  </div>
                </div>
                </div>   
              </div>
              <div class="col-12 col-lg-3 order-2">
                <div class="card">
                  <div class="card-header"> Ảnh đại diện</div>
                  <div class="card-body text-center">
                    <img src="<%= user.image %>" width="200" height="200" class="img-account-profile rounded-circle mb-2" alt="">
                    <div class="mb-3">
                      <label for="image" class="form-label">Chọn ảnh đại diện</label>
                      <input class="form-control form-control-sm" type="file" id="image" name="image" value="<%= user.image %>" >
                      <div class="invalid-feedback ml-4  <%= errorMessage === true ? 'd-block' : '' %>">
                        Đây không phải hình ảnh
                      </div>   
                    </div>
                  </div>
                </div>   
              </div>
            </form> 
            </div>         
                                  
        </section>
        <br>
          <!-- Footer-->
      <footer class="footer text-faded text-center py-4">
        <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2022</p></div>
      </footer>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<%- include('../includes/end.ejs') %>
