<%- include('../includes/head.ejs') %>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        
    </head>
    <body id="page-top" class="pagetop">
<%- include('../includes/navigation.ejs') %>       
       
<section class="page-section about-heading">
  <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../img/banner2.jpg" alt="..." />
      <div class="about-heading-content">
          <div class="row">
              <div class="col-xl-9 col-lg-10 mx-auto">
                  <div class="bg-faded rounded p-5">
                      <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Quỹ từ thiện</span>
                          <span class="section-heading-lower">Non-profit child care</span>
                      </h2>
                      <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- about -->
        <section class="page-section clearfix" id="about">
          <div class="container">
              <div class="intro">
                  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../img/banner3.jpg" alt="..." />
                  <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                      <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Mất chút thời gian được cả không gian tình cảm</span>
                          
                      </h2>
                      <p class="mb-3">Sự sẻ chia luôn mang lại nhiều điều kỳ diệu cho cuộc sống. Dù trong bất kỳ hoàn cảnh nào, chúng ta cũng đều có thể chia sẻ và quan tâm đến người khác. Hãy nhớ rằng, khi vui vẻ và hạnh phúc thì ít nhiều bạn cũng đã tạo ra được những tác động tích cực đến những người xung quanh.</p>
                      <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#project">Các dự án quyên góp</a></div>
                  </div>
              </div>
          </div>
      </section>

      <!-- Dự án đang diễn ra -->

      <section class="page-section cta " id="project">
          <div class="container">
              <div class="row">          
                      <div class="cta-inner bg-faded text-center rounded row">
                        <p class="address mb-5">
                          <em>
                              <strong class="site-heading-lower">Các dự án quyên góp</strong>
                              <br />
                              Yêu thương và lòng tốt không bao giờ lãng phí.
                          </em>
                      </p>
                      <% if (projects.length > 0) { %>
                        <% for (let proj of projects) { %>
                         <% if (proj.donate.percentageDonate < 100) { %> 
                          <% if (Math.ceil((proj.endTime - new Date()) / (1000 * 60 * 60 * 24)) > 0 ) { %>  
                          <!-- items charity -->
                          <div class="col-12 col-md-4">
                            <div class="card shadow-sm mb-4">
                                <div style="height: 200px;"><img class="imageproject" src="/<%= proj.image %>" alt=""></div>
                  
                              <div class="card-body">
                                <p class="card-text title-text"><%= proj.title %></p>
                                <small><%= proj.donate.totalMoney.toLocaleString('en-US') %> VND / <%= proj.maxMoney.toLocaleString('en-US') %> VND</small>
                                <small class="progress my-2">
                                  <div class="progress-bar" role="progressbar" style="width: <%= proj.donate.percentageDonate %>%" aria-valuenow="<%= proj.donate.percentageDonate %>" aria-valuemin="0" aria-valuemax="100"><%= proj.donate.percentageDonate %>%</div>
                                </small>
                                <div class="d-flex justify-content-between align-items-center">     
                                    <a href="/detail-project/<%= proj._id %>" class="btn btn-sm btn-outline-secondary">Quyên góp</a>
                                    <small class="text-muted">Còn <%= Math.ceil((proj.endTime - new Date()) / (1000 * 60 * 60 * 24)) %> ngày</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% } %>
                         <% } %>
                        <% } %>
                      <% } %>   
                      <!-- <div class="btn btn-lg btn-outline-secondary" id="load-more"> Xem thêm</div>   -->
                      </div>          
              </div>    
          </div>
      </section>

      <!-- Dự án đang diễn ra -->

      <section class="page-section cta ">
        <div class="container">
            <div class="row">          
                    <div class="cta-inner bg-faded text-center rounded row">
                      <p class="address mb-5">
                        <em>
                            <strong class="site-heading-lower">Các dự án quyên góp chúng tôi đã thực hiện</strong>
                            <br />
                        </em>
                    </p>
                    <% if (projects.length > 0) { %>
                      <% for (let proj of projects) { %>
                        <% if (Math.ceil((proj.endTime - new Date()) / (1000 * 60 * 60 * 24)) <= 0 || proj.donate.percentageDonate >= 100) { %>  
                        <!-- items charity -->
                        <div class="col-12 col-md-4">
                          <div class="card shadow-sm mb-3 ">
                              <div style="height: 200px;"><img class="imageproject" src="/<%= proj.image %>" alt=""></div>
                
                            <div class="card-body">
                              <p class="card-text title-text"><%= proj.title %></p>

                              <div class="d-flex justify-content-between align-items-center">     
                                  <a href="/detail-project/<%= proj._id %>" class="btn btn-sm btn-outline-secondary">Xem chi tiết</a>
                                  <small class="text-muted">Đã hoàn thành </small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% } %>
                      <% } %>
                    <% } %>     
                    </div>
            </div>
        </div>
    </section>
    
      <!-- contact -->
      <section class="page-section" id="contact">
        <div class="container ">
            <div class="row  ">
                <div class="col-xl-9 mx-auto opacity-10 cta pt-3 pb-3">
                    <div class="cta-inner bg-faded text-center rounded">
                        
                          <p class="address mb-4">
                            <em>
                                <strong class="site-heading-lower">Liên hệ với chúng tôi</strong>
                                <br />
                                Mọi ý kiến đóng góp và giúp đỡ xin được gửi qua đây. Chúng tôi sẽ sớm phản hồi lại !
                            </em>
                        </p>
                        <% if (notify) { %>   
                            <blockquote  class="blockquote-footer ">
                                <%= notify %>
                            </blockquote>
                        <% } else { %> 
                        <form id="contactForm mt-2" data-sb-form-api-token="API_TOKEN" action="/" method="POST">
                          <!-- Name input-->
                          <div class="form-floating mb-3">
                              <input class="form-control" id="userName" name="userName" type="text" value=" <% if (user !== null) { %> <%= user.userName %> <% } %>" data-sb-validations="required" required/>
                              <label for="userName">Tên</label>
                              <div class="invalid-feedback" data-sb-feedback="userName:required">Hãy điền tên của bạn.</div>
                          </div>
                          <!-- Email address input-->
                          <div class="form-floating mb-3">
                              <input class="form-control" id="email" type="email" name="email" value=" <% if (user !== null) { %> <%= user.email %> <% } %>" data-sb-validations="required,email" required />
                              <label for="email">Email</label>
                              <div class="invalid-feedback" data-sb-feedback="email:required">Hãy điền địa chỉ email.</div>
                          </div>
                          <!-- Phone number input-->
                          <div class="form-floating mb-3">
                              <input class="form-control" id="numberPhone" name="numberPhone" type="tel" value=" <% if (user !== null) { %> <%= user.numberPhone %> <% } %>" data-sb-validations="required" required/>
                              <label for="numberPhone">Số điện thoại</label>
                              <div class="invalid-feedback" data-sb-feedback="numberPhone:required">Hãy nhập số điện thoại của bạn.</div>
                          </div>
                          <!-- Message input-->
                          <div class="form-floating mb-3">
                              <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" required></textarea>
                              <label for="message">Lời nhắn</label>
                              <div class="invalid-feedback" data-sb-feedback="message:required">Gửi lời nhắn đến chúng tôi.</div>
                          </div>
                          <!-- Submit success message-->
                          <!---->
                          <!-- This is what your users will see when the form-->
                          <!-- has successfully submitted-->
                          <!-- <div class="d-none" id="submitSuccessMessage">
                              <div class="text-center mb-3">
                                  <div class="fw-bolder">Gửi tin nhắn thành công</div>         
                              </div>
                          </div> -->
                          <!-- Submit error message-->
                          <!---->
                          <!-- This is what your users will see when there is-->
                          <!-- an error submitting the form-->
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                          <!-- Submit Button-->
                          <div class="d-grid"><button class="btn btn-primary btn-xl mb-2" type="submit" >Gửi</button></div>
                        </form>
                        <% } %> 
                        <p class="mb-0">
                            <small><em>Gọi cho chúng tôi</em></small>
                            <br />
                            (84) 76666 8493
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Footer-->
      
      <footer class="footer text-faded text-center py-4">
          <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2022</p></div>
      </footer>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

        <script>

            let loadMoreBtn = document.querySelector('#load-more');
            let currentItem = 3;
            
            loadMoreBtn.onclick = () =>{
               let boxes = [...document.querySelectorAll('.container .card .card-body')];
               for (var i = currentItem; i < currentItem + 3; i++){
                  boxes[i].style.display = 'inline-block';
               }
               currentItem += 3;
            
               if(currentItem >= boxes.length){
                  loadMoreBtn.style.display = 'none';
               }
            } 
        </script>
<%- include('../includes/end.ejs') %>
